@font-face {
  font-family: "Pixelify Sans";
  src: url(../assets/fonts/PixelifySans.ttf);
  font-weight: 100;
  font-style: normal;
}

#b_usuario {
  text-transform: capitalize;
}

.vermelho {
    color: rgb(252, 138, 138);
    background-color: rgba(0, 0, 0, 0.199);
    padding: 5px;
    border-radius: 20px;
}
.verde {
    color: rgb(153, 245, 125);
}
.amarelo{
    color: #fee761;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
 
.galeria{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.226) 100%),
    url(../assets/imgs/corte.webp);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    background-repeat: repeat-x;
    background-position: top;
    background-size: cover;
    min-height: 120vh;
    min-width: 100vw;
}

.galeria .container {
    background-image: linear-gradient(to bottom, #000000 20%, rgba(34, 87, 94, 0));
    background-size: 100px;
    width: 100vw;
    position: fixed;
    z-index: 1000;
}

.galeria .container .nav_bar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.galeria .container .nav_bar .usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.galeria .container h3 {
    color: white;
    font-size: 25px;
    font-weight: 200;
}

.galeria .container img {
    width: 52px;
    height: 52px;
    border: solid 2px white;
    object-fit: cover;
    margin: 0px 10px 10px 0px;
    border-style: dashed;
    border-radius: 40px;
}

.galeria .container {
    padding: 22px 0px 22px 0px;
    display: flex;
}

.galeria .container button {
    margin-left: 5%;
    padding: 5px 15px 5px 15px;
    border-radius: 40px;
    font-size: 15px;
    justify-self: flex-start;
    background-color: rgba(11, 33, 61, 0.185);
    color: white;
    border: solid 1px white;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.galeria .container button:hover {
    font-size: 18px;
    color: #feae34;
    border: solid 2px #f77622;
    cursor: pointer;
    border-style: dashed;
}


.galeria .perguntas {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.galeria .perguntas img{
    width: 300px;
    border-bottom: #ffffff solid 2px;
}

.galeria .perguntas .card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: solid 1px white;
    color: white;
    min-width: 500px;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.719);
}

.galeria .perguntas .card p{
    margin-bottom: 10px;
    color: #feae34;
    font-size: 20px;
}

.galeria .perguntas select {
    width: 100%;
    background-color: black;
    border: solid 1px white;
    color:  white;
    text-align: center;
}

#consoles_pizza {
    width: 400px;

}

.graficosGeneros {
    width: 400px;

}

.dashboard {
    display:  flex;
    flex-direction: row;
    justify-content: space-evenly;
        background-image: 
    linear-gradient(to bottom, #3a1b1b 0.5%, rgba(0, 0, 0, 0.815));
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    border-style: dashed;
    padding: 10px;
}

.dashboard .graficosConsoles{
    display:  flex;
    gap: 50px;
    flex-direction: row;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
}