@font-face {
  font-family: "Pixelify Sans";
  src: url(../assets/fonts/PixelifySans.ttf);
  font-weight: 100;
  font-style: normal;
}

#b_usuario {
  text-transform: capitalize;
}

.vermelho {
    color: rgb(252, 138, 138);
    background-color: rgba(0, 0, 0, 0.199);
    padding: 5px;
    border-radius: 20px;
}

.verde {
    color: rgb(153, 245, 125);
}

.amarelo{
    color: #fee761;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    background-color: #0204b6;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: max-content; /* Importante: permite expandir horizontalmente conforme o conteúdo */
}

.galeria{
    background-image:
    url(../assets/imgs/sonicbackgroud.gif);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    background-repeat: repeat-x;
    background-position: bottom;
    min-width: auto;
    min-height: 100vh;
}


.galeria .container {
    background-image: linear-gradient(to bottom, #4f1869 20%, rgba(34, 87, 94, 0));
    background-size: 100px;
    width: 100vw;
    position: fixed;
    z-index: 1000;
}

.galeria .container .nav_bar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.galeria .container .nav_bar .usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.galeria .container h3 {
    color: white;
    font-size: 25px;
    font-weight: 200;
}

.galeria .container img {
    width: 52px;
    height: 52px;
    border: solid 2px white;
    object-fit: cover;
    margin: 0px 10px 10px 0px;
    border-style: dashed;
    border-radius: 40px;
}

.galeria .container {
    padding: 22px 0px 22px 0px;
    display: flex;
}

.galeria .container button {
    margin-left: 5%;
    padding: 5px 15px 5px 15px;
    border-radius: 40px;
    font-size: 15px;
    justify-self: flex-start;
    background-color: rgba(11, 33, 61, 0.185);
    color: white;
    border: solid 1px white;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.galeria .container button:hover {
    font-size: 18px;
    color: #feae34;
    border: solid 2px #f77622;
    cursor: pointer;
    border-style: dashed;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    height: auto;
    padding-top: 1%;
    gap: 50px;
}

.card {
    flex: 0 0 auto; /* Impede que as cards se redimensionem e garante largura fixa */
    width: 400px;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

.card .card_container{
    background-image: linear-gradient(to bottom, rgba(24, 0, 180, 0.867) 50%, rgba(9, 87, 19, 0.442));
    color: white;
    max-width: 400px;
    min-height: 530px;
    padding: 0;
    border-radius: 20px;
}

.card .texto {
    padding: 20px;
}

.card .texto p{
    text-align: justify;
    
}

.card .texto h2{
    margin-bottom: 20px;
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 2px dotted orange;
    color: #feae34;
    text-align: center;
    
}

