@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pixelify+Sans:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}

/* Prológo*/

.prologo {
    display: flex;
    justify-content: center;

    background-image: url(../assets/imgs/background_inicio.webp);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    background-color: #0095e9;
    width: 100%;
}

.prologo .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}

.prologo .container h1{
    font-size: 3vw;
    margin-top: 10%;
    color: rgb(255, 217, 0);
}

.prologo .container h2{
    font-size: 2vw;
}

.prologo .container p{
    width: 50vw;
    margin-top: 5%;

    font-size: 1.7vw;
}

.prologo button {
    margin-top: 8vh;
    background-color: rgba(41, 49, 140, 0.723);
    border: solid 1px white;
    color: rgb(255, 255, 255);
    padding: 1.2vw 2.5vw 1.2vw 2.5vw;
    font-size: 1.2vw;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: 900;
}

.prologo button:hover {
    background-color: rgba(0, 0, 0, 0.704);
    color: rgb(69, 240, 86);
    border: solid 2px greenyellow;
    padding: 1.5vw 0.5vw 1.5vw 0.5vw;;
    font-size: 1.5vw;
}

/* Meio */

.meio {    
    background-image: url(../assets/imgs/background_meio.webp);
    background-color: #3f2832;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
}


.meio .container {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}

.meio .container .secao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
}

.meio .container .secao img{
    width: 30vw;
    height: 35vh;
    object-fit: contain;
}

.meio .container .secao .texto h2{
    color: orange;
    font-size: 2vw;
}

.meio .container .secao .texto p{
    font-size: 1.5vw;
}


.meio .container .secao .texto {
    display:  flex;
    text-align: justify;
    flex-direction: column;
    width: 30vw;
}
/*
.meio::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 150px;
    background: linear-gradient(to top, #000000 0%, transparent 100%);
    pointer-events: none;
}

.meio h2{
    font-size: 48px;
    color: rgb(255, 210, 75);
}

.meio .container p {
    font-size: 32px;
}

.meio .container {
    text-align: justify;

    display: flex;
    align-items: center;
    
}

.meio .container img{
    width: 60%;
    border-radius: 20px;
    object-fit: contain;
}

.meio .container .imagem_abaixo{
    margin-top: 5%;
}

.meio .container .imagem_acima
{
    margin-bottom: 5%;
}

.meio .container .secao {
    display: flex;
    width: 100%;
    padding-left: 20%;
}

.meio .container .secao p{
    max-width: 60%;
}

.meio .container .secao div{
    width: 50%;
}

/* Scroll Mario */

/*
.mario_scroll {
    position: sticky;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 18%;
    height: 10%;
    background-image: url('../assets/imgs/mario_meio.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

/* Roda Pé */
/*
.roda_pe {
    background-color: black;
    height: 25vh;
    display: flex;
    justify-content: center;
}

.roda_pe p{
    background-color: black;
    color: rgb(255, 255, 255);
    align-self: center;
    font-size: 20px;
}

