@font-face {
  font-family: "Pixelify Sans";
  src: url(../assets/fonts/PixelifySans.ttf);
  font-weight: 100;
  font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    overflow-x: hidden;
}

/* Prológo*/

.prologo {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(31, 10, 121), 10%, rgba(0, 0, 0, 0)),url(../assets/imgs/background_inicio.webp);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-color: #0095e9;
    min-height: 100vh;
}

.prologo .container .inicio{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}

.prologo .container .inicio h1{
    font-size: 55px;
    margin-top: 10vh;
    color: rgb(255, 217, 0);
}

.prologo .container .inicio h2{
    font-size: 30px;
}

.prologo .container .inicio p{
    max-width: 70%;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 8vh;
    font-size: 28px;
}

.prologo button {
    padding: 1.2vw 2.5vw 1.2vw 2.5vw;

    background-color: rgba(41, 49, 140, 0.723);
    border: solid 1px white;

    color: rgb(255, 255, 255);
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 900;

    transition: 0.3s ease-in-out;
}

.prologo button:hover {
    background-color: rgba(0, 0, 0, 0.615);
    border: solid white 1px;
    padding: 15px 40px;
    margin: 20px;
    font-size: 18px;
    color: rgb(87, 254, 140);
    cursor: pointer;
}

/* Meio */

.meio {    
    background-image: linear-gradient(to top, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0)), url(../assets/imgs/background_meio.webp);
    background-position: center;
    background-repeat: repeat;
    min-height: 120vh;
}

.meio .container {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}

.meio .container .secao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;
}

.meio .container .secao img{
    width: 30vw;
    height: 35vh;
    object-fit: cover;
    border-radius: 50px;
}

.meio .container .secao .texto h2{
    color: rgb(255, 207, 117);
    text-align: center;
    padding-bottom: 2vh;
    font-size: 2vw;
    padding-top: 2vh;
}

.meio .container .secao .texto p{
    font-size: 1.5vw;
}


.meio .container .secao .texto {
    display:  flex;
    text-align: justify;
    flex-direction: column;
    width: 30vw;
}

/*<><><><><><><> Footer <><><><><><><>*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 10vh;
    background-color: black;

    color: white;
}

.footer .container {
    text-align: center;
    font-size: 1vw;
}


.mario_scroll {
    position: fixed;
    top: 70%;
    left: 50%;
    min-width: 64px;
    min-height: 64px;
    background-image: url('../assets/imgs/mario_meio.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
}

/*<><><><><><><> Login <><><><><><><>*/

.prologo .container .login{
    background-color: #009fe96e;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    margin-top: 10vh;
    color: white;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.login h1{
    margin-bottom: 1vh;
    font-size: 32px;
    color: #EBD002;
}

.login p{
    margin-bottom: 2%;
    font-size: 20px;
}   

.login input {
    margin-bottom: 3%;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    border: solid white 1px;
    padding: 10px;
}

.login button {
    background-color: rgba(0, 0, 0, 0.39);
    border: solid white 1px;
    padding: 10px 30px;
    margin: 20px;
    font-size: 20px;
    color: white;
    transition: 0.3s ease-in-out;

}

.login button:hover {
    background-color: rgba(0, 0, 0, 0.615);
    border: solid white 1px;
    padding: 15px 40px;
    margin: 20px;
    font-size: 18px;
    color: rgb(87, 254, 140);
    cursor: pointer;

}

#clique_aqui {
    color: #EBD002;
    transition: 0.3s ease-in-out;
}

#clique_aqui:hover{
    color: rgb(0, 255, 153);
    cursor: pointer;
}