@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pixelify+Sans:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}


.login {
    display: flex;
    justify-content: center;

    background-image:
        url(../assets/imgs/sonic_run.gif),
        linear-gradient(to bottom, rgb(31, 10, 121), 10%, rgba(0, 0, 0, 0)),
        url(../assets/imgs/background_login.webp);

    background-color: #0095e9;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: center bottom, center bottom, 0 100%;

    animation: moverFundo 10s linear infinite;

    min-height: 100vh;
}

@keyframes moverFundo {
    from {
        background-position: center bottom, center bottom, 0% 100%;
    }
    to {
        background-position: center bottom, center bottom, -10000px 100%;
    }
}


.login .container {

    border: none;
    color: white;
    padding: 5vw;
}

.login .container #div_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}

#div_login h1{
    margin-bottom: 3vh;
    font-size: 52px;
    color: #EBD002;
}

#div_login p{
    margin-bottom: 2%;
    font-size: 25px;
}   

#div_login input {
    margin-bottom: 3%;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    border: solid white 1px;
    padding: 10px;
}

#div_login button {
    background-color: rgba(0, 0, 0, 0.39);
    border: solid white 1px;
    padding: 10px 30px;
    margin: 20px;
    font-size: 20px;
    color: white;
    transition: 0.3s ease-in-out;

}

#div_login button:hover {
    background-color: rgba(0, 0, 0, 0.615);
    border: solid white 1px;
    padding: 15px 40px;
    margin: 20px;
    font-size: 18px;
    color: rgb(87, 254, 140);
    cursor: pointer;

}

#clique_aqui {
    color: #EBD002;
    transition: 0.3s ease-in-out;
}

#clique_aqui:hover{
    color: rgb(0, 255, 153);
    cursor: pointer;
}


